.mainImg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../Images/Main.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../Images/Main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.nav-link {
  font-size: 1.3rem;
  color: black;
}

.brand {
  font-size: 1.5rem;
  color: black;
}

@media only screen and (max-width: 2560px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 62%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .nav-link {
    font-size: 2rem;
    color: black;
  }
  .brand {
    font-size: 2.5rem;
    color: black;
  }
}


@media only screen and (max-width: 1440px) {
  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .nav-link {
    font-size: 1.8rem;
    color: black;
  }
  .brand {
    font-size: 2rem;
    color: black;
  }
}

@media only screen and (max-width: 1440px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
}

@media only screen and (max-width: 1200px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
  }
}

@media only screen and (max-width: 992px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
  }
}

@media only screen and (max-width: 768px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    height: 100vh;
  }
}

@media only screen and (max-width: 576px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered-next {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    height: 100vh;
  }
}

@media only screen and (max-width: 425px) {
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 47%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px #000;
    -webkit-transform: translate(-30%, -60%);
            transform: translate(-30%, -60%);
  }
  .lead-centered-next {
    position: absolute;
    top: 70%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px #000;
    -webkit-transform: translate(-30%, -60%);
            transform: translate(-30%, -60%);
  }
  .nav-link {
    font-size: 1.3rem;
    color: black;
  }
  .brand {
    font-size: 1.5rem;
    color: black;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    height: 100vh;
  }
}

@media only screen and (max-width: 320px) {
  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .lead-centered {
    position: absolute;
    top: 40%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px #000;
    -webkit-transform: translate(-30%, -60%);
            transform: translate(-30%, -60%);
  }
  .lead-centered-next {
    position: absolute;
    top: 65%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px #000;
    -webkit-transform: translate(-30%, -60%);
            transform: translate(-30%, -60%);
  }
  .nav-link {
    font-size: 1.3rem;
    color: black;
  }
  .brand {
    font-size: 1.5rem;
    color: black;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    height: 100vh;
  }
}
/*# sourceMappingURL=app.css.map */