// global styling

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Global variables and mixins using sass
@mixin centerText($top, $left, $fontSize,$tx,$ty) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($tx, $ty);
  font-size: $fontSize;
  color: white;
  text-shadow: 1px 1px #000;
}
@mixin navCollapse() {
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    height: 100vh;
  }
}

@mixin background {
  background: grey;
  height: 100vh;
}

// navbar styling

.navbar-brand {
  font-size: 2.5rem
}


// Main page (Deck docks and things)


section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.lead-centered{
  text-align: left;
  align-items: center;
}

.tideSlide{
  text-decoration: none;
  font-weight: bold;
}

section#home{
  background: url(../images/Main.jpg) no-repeat center center/cover;
}


// Animated arrow to indicate to scroll down

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid #06a8ff;
  border-right: 3px solid #06a8ff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

// about 

.background{
  @include background();
}


// media queries at certain viewpoints to get correct styling

@media only screen and (max-width: 2560px) {
  .centered {
    @include centerText(20%, 50%, 85px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(55%, 50%, 40px,-50%,-50%);
  }

  .nav-link {
    font-size: 2rem;
    color: black;
  }

  .brand {
    font-size: 2.5rem;
    color: black;
  }
}

@media only screen and (max-width: 1440px) {
  .centered {
    @include centerText(20%, 50%, 65px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(55%, 50%, 28px,-50%,-50%);
  }
}

@media only screen and (max-width: 1200px) {
  .centered {
    @include centerText(20%, 50%, 45px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(50%, 50%, 25px,-50%,-50%);
  }
}

@media only screen and (max-width: 992px) {
  .centered {
    @include centerText(20%, 50%, 45px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(5%, 50%, 20px,-50%,50%);
  }
}

@media only screen and (max-width: 768px) {
  .centered {
    @include centerText(20%, 50%, 35px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(55%, 30%, 20px,-20%,-50%);


  }

  @include navCollapse();
}

@media only screen and (max-width: 576px) {
  .centered {
    @include centerText(20%, 50%, 30px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(60%, 30%, 18px,-20%, -60%);
  }

  @include navCollapse();
}

@media only screen and (max-width: 425px) {
  .centered {
    @include centerText(20%, 50%, 30px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(65%, 35%, 16px,-30%, -60%);
  }
  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    font-size: 1.5rem
  }
  @include navCollapse();
}

@media only screen and (max-width: 375px) {
  .centered {
    @include centerText(18%, 50%, 25px,-50%,-50%);
  }
  .lead-centered {
    @include centerText(56%, 20%, 16px,-10%,-50%);
  }
  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    font-size: 1.5rem
  }
  @include navCollapse();
}
