// global styling

html * {
  margin: 0;
  padding: 0;
  color: white;  
  font-family: -apple-system, BlinkMacSystemFont,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section{
  width: 100%;
  height: 100vh;
}

// Global variables and mixins using sass

@mixin btn($font-size,$width,$padding){
  border: 3px solid #06a8ff;
  color: #fff;
  width: $width;
  padding: $padding;
  cursor: pointer;
  font-size: $font-size;
  margin-top: 20px;

  &:hover{
    background: linear-gradient(rgba(160, 160, 160, 0.5), rgba(255, 255, 255, 0.5));

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

}


@mixin centerText($top) {
  position: relative;
  top: $top;
}

@mixin navCollapse() {
  .navbar-collapse {
    background: rgba(255, 248, 248, 0.9);
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    height: 100vh;
  }

}

@mixin flex() {
  display: flex;
  align-content: center;
  justify-content: center;
}

// navbar styling

.navbar-brand {
  font-size: 2.5rem;
}

.nav-link {
  font-size: 1.7rem;
  color: black;
}

.navbar-brand:hover{
  color: #06a8ff !important;
}

.nav-link{
  color: black !important;
}

.nav-link:hover{
  color: #06a8ff !important;
}

// Home page (Deck docks and things)

section#home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.centerText{
  @include centerText(25%)
}

h1{
  font-size: 3rem;
}

.flex {
  @include flex();
}

.btn{
  @include btn(1.5rem,20%,20px);
}

.bouncy{
  animation: bouncy 3s infinite linear;
  position: relative;
  }

  @keyframes bouncy {
    0% {
      transform: scale(1,1) translate(0px, 0px);
      }
      
    30% {
      transform: scale(1,0.8) translate(0px, 10px); 
      }
      
    100% {
      transform: scale(1,1) translate(0px, 0px);
      }
  }

// services

.background-color{
  background: linear-gradient(#8a8a8a, #8a8a8a);
  padding: 2.5rem;
}

.header-line{
  width: 100px;
  height: 4px;
  background: #474747; 
  margin: 0 auto;
}

// gallery

section#gallery{
  background: linear-gradient(#6d6d6d,#b6e5ff );
  padding: 2rem;
}

// media queries at certain viewpoints to get correct styling

@media only screen and (max-width: 2560px) {

  .nav-link {
    font-size: 2rem;
    color: black;
  }

  .brand {
    font-size: 2.5rem;
    color: black;
  }

  p{
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 510px;
  }

  .btn{
    @include btn(2rem,30%,10px);
  }
  
}

@media only screen and (max-width: 1200px) {

  .centerText{
    @include centerText(25%)
  }

  .btn{
    @include btn(1.3rem,35%,10px);
  }

  p{
    font-size: 1.3rem;
  }

}

@media only screen and (max-width: 991.98px) {

  .btn{
    @include btn(1.3rem,45%,10px);
  }
  @include navCollapse();
}

@media only screen and (max-width: 576px ){

  p{
    font-size: 1.3rem;
    width: 450px;
  }
}

@media only screen and (max-width: 425px) {

  h1{
    font-size: 2rem;
  }

  p{
    font-size: 1rem;
    width: auto;
  }
}
